body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.l1Row {
    background-color:#ff4436;
}
.l2Row {
    background-color:#ff9e1e;
}
.l3Row {
    background-color:#ffcf1f;
}
.l4Row {
    background-color:#95d73f;
}
.l5Row {
    background-color:#3fb9d7;
}
.l6Row {
    background-color:#9c9c9c;
}