@if (Request.IsAuthenticated)
{          using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
            {
            @Html.AntiForgeryToken()}
        <p class="navbar-text navbar-right">Hello, @Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: null,
        htmlAttributes: new { @class = "username navbar-link", title = "Manage" })!

            (<a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>)
            </p>

}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
